body {
    background: #383c3c;
    color: #fff;
    font-size: 16px;
    font-family: 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Helvetica, Arial, 'ＭＳ Ｐゴシック', sans-serif;
    line-height: 1.42857;
}

/* ヘッダー */
#head {
    text-align: center;
}

/* ナビゲーション */

.nav {
    z-index: 100;
    padding: 12px 0;
    width: 100%;
    text-align: center;
}

.nav-group {
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

.nav-group > li {
    margin: 0;
    padding: 0 12px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
}

.nav-group > li a {
    display: block;
    padding: 6px 12px;
    color: #fff;
    text-decoration: none;
}


/* コンテンツ */
.displayarea {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    border-bottom: 1px;
    display: none;
}

#membercount {
    margin: 5px;
    text-align: right;
    font-size: 8px;
    font-family: 'SourceCodePro-Medium';
}

/* フッター */


/* パーツ */
role {
    background-color: rgba( 114, 137, 218, 0.15 );
   color: #7289da;
}

#oji {
    background-color: rgba( 255, 255, 255, 0.15 );
   color: #fff;
}

ch {
    background-color: rgba( 114, 137, 218, 0.15 );
   color: #7289da;
}